{%extends "./plantilla.html"%} {%block body%}
<br />
<div class="card">
  <div class="card-title text-center">
    <h3><b>Listado de peliculas</b></h3>
  </div>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titulo</th>
      <th>Duracion</th>
      <th>Sinopsis</th>
      <th>Genero</th>
    </tr>
  </thead>
  <tbody>
    {% for peliculaTemporal in pelicula%}
    <tr>
      <td>{{peliculaTemporal.id}}</td>
      <td>{{peliculaTemporal.titulo}}</td>
      <td>{{peliculaTemporal.duracion}}</td>
      <td>{{peliculaTemporal.sinopsis}}</td>
      <td>{{peliculaTemporal.genero}}</td>
      <td></td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
